/* header.scss */
.header-image img {
  display: block;
  margin: 0 auto; }

.header-background-image {
  background: no-repeat center;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important; }

.header-background-image .title-box {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.site-branding {
  padding: 6rem 0;
  text-align: center;
  background: #2c86ba;
  background: #2c86ba; }

.site-title {
  font-weight: 700;
  font-size: 40px;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: normal;
  padding-bottom: 1rem; }

.site-description {
  font-weight: 100;
  font-size: 20px;
  font-size: 2rem; }

.title-box {
  width: 600px;
  max-width: 75%;
  padding: 4rem;
  margin: 0 auto;
  border: solid 1px #fff;
  border: solid 1px rgba(255, 255, 255, 0.3); }

.site-branding a {
  text-decoration: none; }

.site-title a,
.site-description {
  color: #fff;
  color: white; }

/* Header responsive */
@media screen and (max-width: 600px) {
  .site-branding {
    padding: 0; }

  .title-box {
    max-width: 100%;
    margin: 0;
    padding: 4rem;
    border: none; } }
