/*_content.scss*/

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/

/* --------------------------------------------------------------
Header on each page
--------------------------------------------------------------*/





/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/


/* Typography */
.entry-title {
    margin: 0 0 2rem;
    font-weight: 900;
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.3em;
    color: #000;
    color: hsl(0, 0%, 0%);
}


.page .entry-title {
    margin-top: .7em;
}        

.entry-content a { 
    text-decoration: underline; 
}
                    
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin-bottom: .4em; }

.entry-content h1 {
    font-size: 32px;
    font-size: 3.2rem;
}

.entry-content h2 {
    font-size: 30px;
    font-size: 3.0rem;
}

.entry-content h3 {
    font-size: 28px;
    font-size: 2.8rem;
}

.entry-content h4 {
    font-size: 26px;
    font-size: 2.6rem;
}

.entry-content h5 {
    font-size: 24px;
    font-size: 2.4rem;
}

.entry-content h6 {
    font-size: 22px;
    font-size: 2.2rem;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.6em;
}

.entry-content blockquote p {
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 1.5em;
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
    .entry-title {
        font-size: 32px;
        font-size: 3.2rem;
        line-height: 1.3em;
    }
    .entry-content h1 {
        font-size: 28px;
        font-size: 2.8rem;
    }

    .entry-content h2 {
        font-size: 26px;
        font-size: 2.6rem;
    }

    .entry-content h3 {
        font-size: 24px;
        font-size: 2.4rem;
    }

    .entry-content h4 {
        font-size: 22px;
        font-size: 2.2rem;
    }

    .entry-content h5 {
        font-size: 20px;
        font-size: 2rem;
    }

    .entry-content h6 {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol  {
        font-size: 18px;
        font-size: 1.8rem;
    }
    
    .entry-content blockquote p {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 1.5em;
    }
}

/* Meta */
.category-list {
    margin: 1.3em 0 1em;
    font-family: $base-font-family;
    font-size: 16px;
    font-size: 1.6rem;
}

.category-list a {
    color: #333;
    color: hsl(0, 0%, 10%);
}

.category-list a:hover {
    color: #000;
    color: hsl(0, 0%, 0%);
}

.entry-meta {
    margin-bottom: 2rem;
    padding: 0;
    font-family: $base-font-family;
    font-size: 14px;
    font-size: 1.4rem;
}

.entry-meta a { font-weight: 600; }

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: $base-font-family;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 2em;
}

.entry-footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.entry-footer li {
    display: inline-block;
    margin-right: 4rem;
}

.entry-footer a {
    margin-left: .5rem;
}
      


.sticky {
}
.hentry {
    margin: 0 0 1.5em;
}
.byline,
.updated {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


@media screen and (min-width: 1320px){
    .single .entry-meta {
        width: 120px;
        margin-left: -160px;
        float: left;
        text-align: right;
    }
    
    .single .byline,
    .single .posted-on {
        display: block;
        margin-bottom: 1em;
    }
}

.posted-on:before {
    content: ' on ';
}
.posted-on:after {
    content: '.';
}

@media screen and (min-width: 1320px) {
    .single .posted-on:before,
    .single .posted-on:after {
        content: '';
    }
}


/* Blockquotes */

blockquote {
    padding: 1em 1.5em 0;
    margin-bottom: 1em;
    font-style: italic;
    border-top: solid 1px hsl(0, 0%, 80%);
    border-bottom: solid 1px hsl(0, 0%, 80%);
}

blockquote em { 
    font-style: normal; 
}

.entry-content cite {
    display: block;
    margin-top: 1em;
    font-style: italic;

}
blockquote cite {
    display: block;
    margin-top: 1em;
    margin-left: 40%;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: $base-font-family;
    font-style: normal;
    line-height: 1.5em;
    text-align: right;
}

blockquote.alignleft {
    width: 50%;
    float: left;
    padding: 1em 0 0;
    margin-right: 2em;
}

blockquote.alignright {
    width: 50%;
    float: right;
    padding: 1em 0 0;
    margin-left: 2em;
}

/* Blockquotes responsive */
/* Optional rules that set blockquotes to full width on smaller screens */
@media screen and (max-width: 780px) {
    blockquote.alignleft,
    blockquote.alignright { width: 40%; }
}

@media screen and (max-width:600px) {
    blockquote.alignleft,
    blockquote.alignright {
        width: 100%;
        padding: 1em 1.5em 0;   
    }
}
 
/* Alignment responsive */
@media screen and (min-width: 1320px) {
    .alignleft {
        margin-left: -160px; 
    }
}

@media screen and (min-width: 1820px) {
    .alignright { 
        margin-right: -160px; 
    }
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.format-aside .entry-content {
    margin-top: 1em;
}
          


/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-title {
    font-weight: 900;
    font-size: 36px;
    font-size: 3.6rem;
}

.comments-area > ol {
    padding: 0;
    margin: 2em 0;
    list-style-type: none;
}

ol.children { list-style-type: none; }

.comment-list ol { margin-left: 50px; }

.comment-meta { margin-bottom: 1em; }

.comment-author .avatar {
    width: 50px;
    display: block;
    float: left;
    margin-right: 20px;
}

.comment-author .fn {
    font-weight: 900;
    font-family: $base-font-family;
    font-size: 20px;
    font-size: 2rem;
}

.comment-metadata {
    font-size: 14px;
    font-size:1.4rem;
}

.comment-content { font-size: 90%; }

.comment-content,
.reply { margin-left: 70px; }

.comment-body {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: solid hsl(0, 0%, 80%) 1px;
}

.comment-content a {
    word-wrap: break-word;
}

.comment-content ol { margin-left: 1.5em; }

.reply {
    font-weight: 600;
    font-family: $base-font-family;
    font-size: 14px;
    font-size: 1.4rem;
}

/* Comments responsive */
@media screen and (max-width:600px) {    
    .comment-list ol { margin-left: 0; }
    
    .comment-content ol { margin-left: 1.5em; }
    
    .comment-content,
    .reply { margin-left: 0; }
}
              

.bypostauthor > .comment-body {
    position: relative;
    padding: 1em;
    margin-bottom: 2em;
    background: hsl(0, 0%, 93%);
    border: none;
}
   
.comment-reply-title {
    margin-bottom: .5em;
    font-weight: 900;
    font-size: 30px;
    font-size: 3rem;
}

.comment-form {
    padding-bottom: 4rem;
    font-family: $base-font-family;
    font-size: 16px;
    font-size: 1.6rem;
}

.comment-form textarea {
    font-family: $base-font-family;
    font-size: 18px;
    font-size: 1.8rem;
}

.comment-form label { display: block; }

.required { color: red; }

.comment-awaiting-moderation { /* Green background color to make moderation seem less aggressive */
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: $base-font-family;
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #84bd68;
    background: hsl(100, 39%, 57%);
}


/*--------------------------------------------------------------
10.4 Index and Archive
--------------------------------------------------------------*/

.continue-reading {
    margin: 0 4rem;
    font-weight: 900;
    font-size: 18px;
    font-size: 1.8rem;
}

.continue-reading i { margin-left: .5em; }
              

.paging-navigation ul {
    margin: 0;
}

.paging-navigation li { display: inline; }

a.page-numbers,
span.page-numbers {
     padding: .3em .7em;
     color: #333;
     color: hsl(0, 0%, 20%);
}

a:hover.page-numbers {
    color: #000;
    color: hsl(0, 0%, 0%);
}

.paging-navigation .current {
    font-weight: bold;
    color: #000;
    color: hsl(0, 0%, 0%);
}


.sticky-post {
    position: absolute;
    top: 1rem;
    right: 3rem;
}
 

.taxonomy-description{
    padding-top: 2rem;
    margin: 2rem 0;
    font-family: $base-font-family;
    font-style: italic;
    border-top: 1px solid hsl(0, 0%, 75%);
    border-bottom: 1px solid hsl(0, 0%, 75%);
}  

