/* _footer.scss */



/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/

.site-footer {
    padding: 2em 80px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-size: 1.6rem;
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #313131;
    background: hsl(0, 0%, 19%);
}

.site-footer a {
    color: #fff;
    color: hsl(0, 0%, 100%);
}

.site-info { 
    text-align: left; 
    float: left;
}

ul#menu-social-icons{
    background-color: transparent;
}

/* Footer widgets responsive */
@media screen and (max-width: 879px) {
    #footer-widgets { width: 100%!important; }
    
    .footer-widgets .widget {
        float: none;
        width: 100%;
        margin: 0 0 8rem;
    }
}