/* _header.scss */

.header-image img {
    display: block;
    margin: 0 auto;
}
      
      
.header-background-image {
    background: no-repeat center;
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
}

.header-background-image .title-box {
    background: #333;
    background: hsla(0, 0%, 0%, .7);
}  
.site-branding {
    padding: 2rem 0;
    text-align: center;
    background: #2c86ba;
    background: hsl(202, 62%, 45%);
}

.site-title {
    font-weight: 700;
    font-size: 40px;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 1rem;
}

.site-description {
    font-weight: 100;
    font-size: 20px;
    font-size: 2rem;
}
                    
.title-box {
    width: 600px;
    max-width: 75%;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border: none;
}
                    
.site-branding a { 
    text-decoration: none; 
}

.site-title a,
.site-description { 
    color: #fff;
    color: hsl(0, 0%, 100%);
}
                    
/* Header responsive */
@media screen and (max-width: 600px) {
    .site-branding { padding: 0; }
    
    .title-box {
        max-width: 100%;
        margin: 0;
        padding: 4rem;
        border: none;
    }
}
          


/* Other Menu Items*/
#other-menu-items{
    float:right;
    margin-left: 80px;
    margin-right: 80px;
}

/* Header search */



.search-toggle {
    float: left;
    width: 78px;
    height: 78px;
    padding: 22px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
}

.search-toggle:hover,
.search-toggle.active {
    background: $green-dark;
    background: $green-dark-hsl;
}

.search-box {
    padding: 1em 80px;
    background: $green-dark;
    background: $green-dark-hsl;
}

@media screen and (max-width: 750px) {
    .search-toggle {
        position: absolute;
        top: 78px;
        right: 0;
        margin-right: 0;
        width: 54px;
        height: 54px;
        padding: 12px;
    }
    .search-box{
        padding: 1em;
    }
}


input[type="search"] {
    box-sizing: border-box;
    width: 100%;
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
    display:none;
}



.search-box .search-field {
    width: 100%;
    float: right;
    padding: 1rem 2rem 1rem 4rem;
    font-size: 20px;
    font-size: 2rem;
    background-color: #fff;
    border: 0;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}

/* Donation Options */

/* Donation Button on Header */
.donate-button {
    float: left;
    position: relative;

}
.donate-button a{
    padding: 1.8em 1.6em;
    font-size: 16px;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.3em;
    color: white;
    color: hsl(0, 0%, 100%);
    background-color: $donate-button;
}

.donate-button a:hover,
.donate-button a.active {
    background-color: $donate-button-hover;
}


@media screen and (max-width: 750px) {
    .donate-button {
        position: absolute;
        top: 78px;
        right: 54px;
        margin-right: 0;
        height: 3.75em;
        padding-top: 1px;
    }
    .donate-button a{
        padding: 1.94rem 1.6em;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
}


/* Full page Donation bar at top */


#donation-bar{
    text-align: center;
    padding: 0.5em 0;
    background-color: #ff0000;
}
#donation-bar p{
    margin: 0px;
    color: #fff;
}
#donation-bar p a{
    color: #fff;
    font-weight: 600;
}

#donation-bar i{
    margin: 0 20px;
}

