/*_variables.scss */

$grey: #404040;
$text-color: black;
$base-font-size: 16px;
$base-font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$green: #32b44a;
$green-hsl: hsl(131.1,56.5%,45.1%);
$green-medium: #53cc69;
$green-medium-hsl: hsl(130.9,54.3%,56.3%);
$green-light: #7be68e;
$green-light-hsl: hsl(130.7,68.2%,69.2%);
$green-dark: #22562c;
$green-dark-hsl: hsl(131.5,43.3%,23.5%);